* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

header {
  border-bottom: 1px black solid;
  margin-bottom: 2%;
  padding: 1%;
  background-color: #6504b5;
  color: white;
}

.logo {
  font-family: cursive;
  width: 50%;
}
.friend {
  width: 50%;
}

.card {
  justify-content: space-evenly;
  margin: 40px;
  width: 25%;
}

.header {
  grid-row: 1;
  background: purple;
  grid-column: 1 / -1;
  padding: 8px;
  text-align: center;
  color: white;
  font-family: helvetica;
}

.form-control {
  width: 35% !important;
}

.images {
  display: flex;
}

img {
  flex: 1;
  width: 15px;
  margin-bottom: 15px;
}

.Home {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.searching {
  display: flex;
}

.searchButton {
  margin-left: 10px;
}

.pawCart {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 15px;
}

.loginnn {
  margin-right: 10px;
}

.likeBtn {
  margin-left: 25px;
}

.petName {
  font-family: cursive;
  font-weight: bolder;
  margin-top: 0.5px;
}

img {
  margin-bottom: 0.5px;
}
